DATABASE_URL="postgresql://kullanici:parola@localhost:5432/rotalyXYZ?schema=public"
JWT_REFRESH_KEY="YOUR KEY"
JWT_ACCESS_KEY="YOUR KEY"

JWT_ACCESS_SECRET="256bit secret key"  

# Email Configuration (Brevo SMTP)
SMTP_USER=<your_brevo_smtp_user>
SMTP_PASS=<your_brevo_smtp_password>

# Website name used in email templates
EMAIL_FROM_NAME=Rotaly XYZ

# Email address that receives contact-us form submissions
MAIL_TO=<mail_to_address>

FRONTEND_URL="https://rotaly-xyz.vercel.app/"

GOOGLE_CLIENT_ID="" # Google Cloud Console'dan aldığınız Client ID
GOOGLE_CLIENT_SECRET="" # Google Cloud Console'dan aldığınız Client Secret

# Oturum Yönetimi
SESSION_SECRET=""