<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}} - Rotaly XYZ</title>
      {{> styles}}
  </head>
  <body>
    <div class="email-container">
      <div class="header">
        <div class="logo">Rotaly XYZ</div>
        <div style="color: #666">Hotel Booking Platform</div>
      </div>
